// Default
@font-face {
  font-family: "BBC Nassim Urdu";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/normal.woff") format("woff"),
    url("/fonts/normal.eot") format("eot"),
    url("/fonts/normal.ttf") format("ttf");
  font-display: optional;
}
@font-face {
  font-family: "BBC Nassim Urdu";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/bold.woff") format("woff"),
    url("/fonts/bold.eot") format("eot"), url("/fonts/bold.ttf") format("ttf");
  font-display: optional;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color 0.6s, background-color 0.6s;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a:not(.button) {
  color: var(--link-color);
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
}
